body {
  font-family: 'Lato';
  color: white;
}

#section-bg {
  background-image: url('images/woman-glitter.jpg');
  height: 100vh;
  background-position-y: 40%;
  background-position-x: 70%;
  position: relative;
}

#section-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#icon-party {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-bottom: 150px;
  background-color: #F0EC26;
}

.icon {
  width: 100%;
}

#text-element {
  margin-top: 100px;
  width: 60%;
  margin: auto;
  margin-right: 38px;

}

#button {
  background-color: transparent;
  font-size: 22px;
  font-weight: 900;
  border: solid white 2px;
  border-radius: 40px;
  padding: 8px 15px;
  width: 200px;
}

.icon-button {
  width: 20%;
  vertical-align: middle;
  margin-left: 7%;
  
}

h1 {
  font-size: 60px;
  font-weight: 900;
  width: 67%;
}

p {
  font-size: 22px;
  font-weight: 400;
}

.text-colored {
  color:  #F0EC26;
}

.no-margin {
  margin: 0;
}

.banner-vertically {
  width: 100px;
  height: 100vh;
  background-color: #383838;
  opacity: 0.6;
  position: absolute;
  top: 0;
}

.banner-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 12px;
}

.icon-style {
  width: 40%;
  margin: 12px 0px;
}

.arrow-top {
  width: 25%;
  transform: rotate(-90deg);
  margin-top: 100px;
}

.arrow-bottom {
  width: 25%;
  transform: rotate(90deg);
  margin-bottom: 200px;

}

.vertical-text {
/*   writing-mode: sideways-lr;
  -webkit-writing-mode: sideways-lr;
  -ms-writing-mode: sideways-lr; */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.number-accentued {
  font-size: 48px;
  font-weight: 900;

}